{include file="public/header" /}
<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" action="{:url('admin/Finance/withdraw')}">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="nickname" placeholder="请输入用户号码" autocomplete="off"
                                   class="layui-input" value="{$nickname}">
                        </div>
                        <div class="layui-inline">
                            <select name="status">
                                <option value="0">请选择状态</option>
                                <option value="1" {eq name="status" value="1"}selected{/eq}>待审核</option>
                                <option value="2" {eq name="status" value="2"}selected{/eq}>已通过</option>
                                <option value="3" {eq name="status" value="3"}selected{/eq}>已驳回</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="start_time" placeholder="开始时间" autocomplete="off" readonly
                                   id="start_time" value="{$start_time}" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
					<button class="layui-btn" onclick="xadmin.open('添加提现','{:url(\'admin/Finance/withadd\')}',550,500)">
					    <i class="layui-icon"></i>添加提现
					</button>
                    <button class="layui-btn layui-btn-normal">
                        总提现：{$stat.price}
                    </button>
                    <button class="layui-btn layui-btn-normal">
                        总手续：{$stat.fee}
                    </button>
                    <button class="layui-btn layui-btn-danger">
                        合计：{$stat.total}
                    </button>
                    <span style="float: right">共有数据：{$list->total()} 条</span>
                </div>
                <div class="layui-card-body" style="overflow-x: auto">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>用户</th>
                            <th>昵称</th>
                            <th>上级用户</th>
                            <th>地址信息</th>
                            <th>提现金额</th>
                            <th>手续费</th>
                            <th>状态</th>
                            <th>审核信息</th>
                            <th>创建时间</th>
                            <th>处理时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach name="list" item="vo"}
                        <tr>
                            <td>{$vo.username}</td>
                            <td>{$vo.nickname}</td>
                            <td>{$parent[$vo.pid]|default="暂无"}({$vo.pid})<br/>
                                代理：{$agents[$vo.agent_id]|default='无'}({$vo.agent_id})
                            </td>
                            <td>
                                {if isset($vo.content.name)}
                                银行名称：{$vo.content.name}<br>
                                银行卡号：{$vo.card_no}<br>
                                开户户名：{$vo.account_name}<br>
                                {/if}
                                {if isset($vo.content.wise)}
                                Wise：{$vo.content.wise}<br>
                               
                                {/if}
                                {if isset($vo.content.revolut)}
                                Revolut：{$vo.content.revolut}<br>
                                
                                {/if}
                                {if isset($vo.content.usdt)}
                                USDT：{$vo.content.usdt}<br>
                               
                                {/if}
                                
                            </td>
                            <td>{$vo.price}</td>
                            <td>{$vo.fee}</td>
                            <td>{$vo.status_txt}</td>
                            <td>{$vo.remark}</td>
                            <td>{$vo.create_time}</td>
                            <td>{$vo.handle_time}</td>
                            <td class="td-manage" style="padding: 10px 5px">
                                {eq name='vo.status' value='1'}
                                <a class="layui-btn layui-btn-mini layui-btn-normal"
                                   href="javascript:;" onclick="withdrawProcess(this,'{$vo.id}')">
                                    审核
                                </a>
                                {/eq}
    						    <a class="layui-btn layui-btn-mini layui-btn-normal"
    							   href="javascript:;" onclick="balanceChange('{$vo.id}')">
    							    设置金额
    							</a>
								<a class="layui-btn layui-btn-mini layui-btn-danger"
								   onclick="methodDel(this,'{$vo.id}')" href="javascript:;">
								    删除
								</a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body">
                    <div class="page">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['form', 'laydate'], function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#start_time', //指定元素
            type: 'datetime',
        });
    });
	/*删除*/
	function methodDel(obj, id) {
	    layer.confirm('确认要删除吗？', function (index) {
	        //发异步删除数据
	        $.ajax({
	            url: '{:url("admin/Finance/withdrawDel")}',
	            type: 'post',
	            data: {'id': id},
	            dataType: 'json',
	            success: function (res) {
	                if (res.status == '200') {
	                    $(obj).parents("tr").remove();
	                    tipAction(1, res.msg);
	                } else {
	                    tipAction(2, res.msg);
	                }
	            },
	            error: function () {
	                tipAction(2, '系统繁忙');
	            }
	        });
	    });
	}
	function balanceChange(id) {
	    layer.open({
	        type: 1,
	        title: '设置金额',
	        content: '<div style="padding: 10px;"><input class="layui-input" id="balance_change" type="text" autocomplete="off"></div>',
	        btn: ['确认', '取消'],
	        btnAlign: 'c',
	        yes: function (index) {
	            var price = parseFloat($('#balance_change').val());
	            $.ajax({
	                url: '{:url("admin/Member/userwt")}',
	                type: 'post',
	                data: {'price': price, 'id': id},
	                dataType: 'json',
	                success: function (res) {
	                    if (res.status == '200') {
	                        
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);

							
							
	                    } else{
	                        tipAction(2, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);
							}
							
	                },
	                error: function () {
	                    // layer.close(index);
	                    tipAction(2, '系统繁忙');
	                }
	            });
	        },
	    });
	}
    function withdrawProcess(obj, id) {
        layer.open({
            type: 1,
            title: '提现审核',
            content: '<div style="padding: 10px"><input class="layui-input" id="process" type="text" autocomplete="off" placeholder="驳回原因"></div>',
            btn: ['通过', '驳回', '取消'],
            btnAlign: 'c',
            yes: function (index) {
                $.ajax({
                    url: '{:url("admin/Finance/withdrawProcess")}',
                    type: 'post',
                    data: {'status': 2, 'id': id},
                    dataType: 'json',
                    success: function (res) {
                        if (res.status == '200') {
                            layer.close(index);
                            $(obj).parent().prevAll().eq(3).text('已通过');
                            $(obj).parent().prevAll().eq(0).text(res.data.time);
                            $(obj).remove();
                            tipAction(1, res.msg);
                        } else
                            tipAction(2, res.msg);
                    },
                    error: function () {
                        // layer.close(index);
                        tipAction(2, '系统繁忙');
                    }
                });
            },
            btn2: function (index) {
                var process = $('#process').val();
                if (process == '') {
                    tipAction(2, '请填写驳回原因');
                    return false;
                }
                $.ajax({
                    url: '{:url("admin/Finance/withdrawProcess")}',
                    type: 'post',
                    data: {'status': 3, 'process': process, 'id': id},
                    dataType: 'json',
                    success: function (res) {
                        // layer.close(index)
                        if (res.status == '200') {
                            layer.close(index);
                            $(obj).parent().prevAll().eq(3).text('已驳回');
                            $(obj).parent().prevAll().eq(2).text(process);
                            $(obj).parent().prevAll().eq(0).text(res.data.time);
                            $(obj).remove();
                            tipAction(1, res.msg);
                        } else
                            tipAction(2, res.msg);
                    },
                    error: function () {
                        // layer.close(index);
                        tipAction(2, '系统繁忙');
                    }
                });
                return false;
            }
        });
    }
</script>
{include file="public/footer" /}
