{include file="public/header" /}
<style>
    .layui-form-selected dl {
        z-index: 1000;
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <input type="hidden" name="id" value="{$id}">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="prizeName" lay-verify="name"
                           autocomplete="off" class="layui-input" value="{$info.prizeName|default=''}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">封面图</label>
                <div class="layui-input-inline" id="uploadControl">
                    <div class="layui-upload-drag {notempty name='info.prizeImage'}layui-hide{/notempty}">
                        <i class="layui-icon" style="font-size: 30px"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
                    <div class="{empty name='info.prizeImage'}layui-hide{/empty}" id="uploadView">
                        <img src="{$info.prizeImage|default=''}" alt="上传成功后渲染" style="max-width: 200px" width="100%">
                    </div>
                    <input type="hidden" name="prizeImage" lay-verify="image" value="{$info.prizeImage|default=''}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="type" class="layui-form-label">
                    <span class="x-red">*</span>类型
                </label>
                <div class="layui-input-inline">
                    <!--<input type="text" id="type" name="type" lay-verify="type"-->
                    <!--       autocomplete="off" class="layui-input" value="{$info.type|default=''}">-->
                     <select  name="type" id="type">
                         {if condition="$id eq 0"}
                         <option value="1"  >usdt</option>
                          <option value="2" >商品</option>
                          <option value="3" >天数</option>
                         {else/}
                         <option value="1"  {if condition='$info.type eq 1'}selected{/if}>usdt</option>
                          <option value="2" {if condition='$info.type eq 2'}selected{/if}>商品</option>
                          <option value="3"  {if condition='$info.type eq 3'}selected{/if}>天数</option>
                         {/if}
                          
                     </select>      
                </div>
            </div>
            <div class="layui-form-item">
                <label for="prizeWeight" class="layui-form-label">
                    <span class="x-red">*</span>权重
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="prizeWeight" name="prizeWeight" lay-verify="prizeWeight"
                           autocomplete="off" class="layui-input" value="{$info.prizeWeight|default=''}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="price" class="layui-form-label">
                    <span class="x-red">*</span>金额/商品ID/天数
                </label>
                <div class="layui-input-inline" style="width: 80%;">
                    <input type="text" id="price" name="price" lay-verify="price"
                           autocomplete="off" class="layui-input" value="{$info.price|default=''}">
                </div>
            </div>
             <div class="layui-form-item">
                <label for="prizeStock" class="layui-form-label">
                    <span class="x-red">*</span>库存
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="prizeStock" name="prizeStock" lay-verify="prizeStock"
                           autocomplete="off" class="layui-input" value="{$info.prizeStock|default=''}">
                </div>
            </div>
            <!--<div class="layui-form-item">-->
            <!--    <label class="layui-form-label">介绍</label>-->
            <!--    <div class="layui-input-block">-->
            <!--        <textarea name="desc" class="layui-textarea" placeholder="介绍-英语">{$info.desc|default=''}</textarea>-->
            <!--    </div>-->
            <!--</div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    {if condition="$id eq 0"}增加{else/}更新{/if}
                </button>
                <a class="layui-btn" href="javascript:history.back()">返回</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    layui.use(['form', 'upload'], function () {
        var form = layui.form, upload = layui.upload;
        //拖拽上传
        upload.render({
            elem: '#uploadControl'
            , url: '{:url("admin/Index/upload")}' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            , accept: 'images' //允许上传的文件类型
            , field: 'file'//设定文件域的字段名
            , done: function (res) {
                //上传完毕
                if (res.status == '200') {
                    tipAction(1, res.msg);
                    $('.layui-upload-drag').addClass('layui-hide');
                    layui.$('#uploadView').removeClass('layui-hide').find('img').attr('src', res.data.file);
                    $('#uploadView').next().val(res.data.file);
                } else {
                    tipAction(2, res.msg);
                }
            }
            , error: function () {
                tipAction(2, '系统繁忙');
            }
        });

        //自定义验证规则
        form.verify({
            name: function (val) {
                if (val.length < 2) {
                    return '标题至少2个字符';
                }
            },
            image: function (val) {
                if (val == '') {
                    return '请上传封面图';
                }
            },
            price:[/^[0-9]\d*\.\d*|^[1-9]\d*/,'请输入正确的价格'],
        });

        //监听提交
        form.on('submit(add)', function (data) {
            //发异步，把数据提交给php
            $.ajax({
                url: '{:url("admin/Jiang/add")}',
                type: 'post',
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    if (res.status == '200') {
                        tipAction(1, res.msg);
                        setTimeout(function () {
                            // 获得frame索引
                            // var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            // parent.layer.close(index);
                            window.history.back();
                            // window.location.href = '/admin/Product/list';
                        }, 1000);
                    } else {
                        tipAction(2, res.msg);
                    }
                },
                error: function () {
                    tipAction(2, '系统繁忙');
                }
            });
            return false;
        });
    });
</script>
</body>
{include file="public/footer" /}
