{include file="public/header" /}
<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" action="{:url('admin/Product/graborders')}">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="nickname" placeholder="请输入用户号码" autocomplete="off"
                                   class="layui-input" value="{$nickname}">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="start_time" placeholder="开始时间" autocomplete="off" readonly
                                   id="start_time" value="{$start_time}" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="balanceChangevisa()">
                        <i class="layui-icon"></i>先锋抢单
                    </button>
                    <button class="layui-btn layui-btn-danger">
                        合计：{$list->total()}
                    </button>
                    <span style="float: right">共有数据：{$list->total()} 条</span>
                </div>
                <div class="layui-card-body" style="overflow-x: auto">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th>用户</th>
                            <th>昵称</th>
                            <th>上级用户</th>
                            <th>剩余单数</th>
                            <th>创建时间</th>
							<th>是否开启派单</th>
							<th>爆单预约</th>
							<th>操作</th>
							<th></th>
							<th></th>
                        </thead>
                        <tbody>
                        {foreach name="list" item="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.u_name}</td>
                            <td>{$vo.u_nickname}</td>
                            <td>{$parent[$vo.pid]|default="暂无"}({$vo.pid})</td>
                            <td>{$vo.order_total}-{$vo.user_order}</td>
                            <td>{$vo.create_time}</td>
							{eq name='vo.status' value='2'}
							<td>关闭</td>
							{else/}
							<td>开启</td>
							{/eq}
							<td>
								{foreach name="vo.hotsale" item="vc"}
								<a class="layui-btn layui-btn-mini layui-btn-normal">
								    预约订单号：{$vc.appointment}
								</a>
								{/foreach}
							</td>
							<td class="td-manage" style="padding: 10px 5px" width="15%">
							{eq name='vo.status' value='2'}
							<a class="layui-btn layui-btn-mini layui-btn-normal" href="javascript:;" data-status="{$vo.status}" onclick="Automaticdispatch(this,0,'{$vo.id}','{$vo.status}')">
								自动派单
							</a>
							{else/}
							<a class="layui-btn layui-btn-mini layui-btn-normal" href="javascript:;" data-status="{$vo.status}" onclick="Canceltheorder(this,0,'{$vo.id}','{$vo.status}')">
								取消派单						
							</a>
							{/eq}
							<button class="layui-btn" onclick="xadmin.open('预约爆单','{:url(\'admin/Product/bdAdd\',[\'id\'=>$vo[\'id\']])}',550,400)">
								<i class="layui-icon"></i>预约爆单
							</button>
							<a class="layui-btn layui-btn-mini layui-btn-normal"
							   href="javascript:;" onclick="balanceChange('{$vo.id}')">
							    设置单数
							</a>
							</td>
							<td width="5%">
							<a class="layui-btn layui-btn-mini layui-btn-normal"
							   href="javascript:;" onclick="balanceChanges('{$vo.id}')">
							    填充可重置单数
							</a>
							</td>
							<td width="5%">
							<a class="layui-btn layui-btn-mini layui-btn-normal"
							   href="javascript:;" onclick="balanceChangeaa('{$vo.id}')">
							    填充非重置单数
							</a>
							</td>
							<td width="5%">
							<a class="layui-btn layui-btn-mini layui-btn-danger"
							   onclick="methodDel(this,'{$vo.id}')" href="javascript:;">
							    删除
							</a>
							
							</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body">
                    <div class="page">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['form', 'laydate'], function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#start_time', //指定元素
            type: 'datetime',
        });
    });
	/*删除*/
	function methodDel(obj, id) {
	    layer.confirm('确认要删除吗？', function (index) {
	        //发异步删除数据
	        $.ajax({
	            url: '{:url("admin/Product/grabordersdel")}',
	            type: 'post',
	            data: {'id': id},
	            dataType: 'json',
	            success: function (res) {
	                if (res.status == '200') {
	                    $(obj).parents("tr").remove();
	                    tipAction(1, res.msg);
	                } else {
	                    tipAction(2, res.msg);
	                }
	            },
	            error: function () {
	                tipAction(2, '系统繁忙');
	            }
	        });
	    });
	}
	//状态禁用
	function Automaticdispatch(obj, type, id, statusa) {
	    var txt, status_txt, status_new, status_txt_new;
	    var status = $(obj).attr('data-status');
	    if (statusa == 1) {
	        status_txt = '禁用';
	        status_new = 1;
	        status_txt_new = '启用';
	    } else {
	        status_txt = '启用';
	        status_new = 2;
	        status_txt_new = '禁用';
	    }
	    if (type){
	        txt = '是否要设置自动派单状态：' + status_txt;
	    }else{
	        txt = '是否要设置自动派单状态：' + status_txt;
			}
	    layer.confirm(txt, function (index) {
	        //发异步删除数据
	        $.ajax({
	            url: '{:url("admin/Member/Automaticdispatch")}',
	            type: 'post',
	            data: {'id': id, 'type': type, 'status': status_new},
	            dataType: 'json',
	            success: function (res) {
	                    if (res.status == '200') {
	                        
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);

							
							
	                    } else{
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);
							}
							
	                },
	            error: function () {
	                tipAction(2, '系统繁忙');
	            }
	        });
	    });
	}
	//状态禁用
	function Canceltheorder(obj, type, id, statusa) {
	    var txt, status_txt, status_new, status_txt_new;
	    var status = $(obj).attr('data-status');
	    if (statusa == 1) {
	        status_txt = '禁用';
	        status_new = 1;
	        status_txt_new = '启用';
	    } else {
	        status_txt = '启用';
	        status_new = 2;
	        status_txt_new = '禁用';
	    }
	    if (type)
	        txt = '是否要设置自动派单状态：' + status_txt;
	    else
	        txt = '是否要设置自动派单状态：' + status_txt;
	    layer.confirm(txt, function (index) {
	        //发异步删除数据
	        $.ajax({
	            url: '{:url("admin/Member/Canceltheorder")}',
	            type: 'post',
	            data: {'id': id, 'type': type, 'status': status_new},
	            dataType: 'json',
	            success: function (res) {
	                    if (res.status == '200') {
	                        
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);

							
							
	                    } else{
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);
							}
							
	                },
	            error: function () {
	                tipAction(2, '系统繁忙');
	            }
	        });
	    });
	}
	function balanceChange(id) {
	    layer.open({
	        type: 1,
	        title: '设置单数',
	        content: '<div style="padding: 10px;"><input class="layui-input" id="balance_change" type="text" autocomplete="off"></div>',
	        btn: ['确认', '取消'],
	        btnAlign: 'c',
	        yes: function (index) {
	            var price = parseFloat($('#balance_change').val());
	            $.ajax({
	                url: '{:url("admin/Member/userOrderdesc")}',
	                type: 'post',
	                data: {'price': price, 'id': id},
	                dataType: 'json',
	                success: function (res) {
	                    if (res.status == '200') {
	                        
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);

							
							
	                    } else{
	                        tipAction(2, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);
							}
							
	                },
	                error: function () {
	                    // layer.close(index);
	                    tipAction(2, '系统繁忙');
	                }
	            });
	        },
	    });
	}
		function balanceChanges(id) {
	    layer.open({
	        type: 1,
	        title: '设置单数',
	        content: '<div style="padding: 10px;"><input class="layui-input" id="balance_change" type="text" autocomplete="off"></div>',
	        btn: ['确认', '取消'],
	        btnAlign: 'c',
	        yes: function (index) {
	            var price = parseFloat($('#balance_change').val());
	            $.ajax({
	                url: '{:url("admin/Member/userOrdertc")}',
	                type: 'post',
	                data: {'price': price, 'id': id},
	                dataType: 'json',
	                success: function (res) {
	                    if (res.status == '200') {
	                        
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);

							
							
	                    } else{
	                        tipAction(2, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);
							}
							
	                },
	                error: function () {
	                    // layer.close(index);
	                    tipAction(2, '系统繁忙');
	                }
	            });
	        },
	    });
	}
function balanceChangeaa(id) {
	    layer.open({
	        type: 1,
	        title: '设置单数',
	        content: '<div style="padding: 10px;"><input class="layui-input" id="balance_change" type="text" autocomplete="off"></div>',
	        btn: ['确认', '取消'],
	        btnAlign: 'c',
	        yes: function (index) {
	            var price = parseFloat($('#balance_change').val());
	            $.ajax({
	                url: '{:url("admin/Member/userOrdertd")}',
	                type: 'post',
	                data: {'price': price, 'id': id},
	                dataType: 'json',
	                success: function (res) {
	                    if (res.status == '200') {
	                        
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);

							
							
	                    } else{
	                        tipAction(2, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);
							}
							
	                },
	                error: function () {
	                    // layer.close(index);
	                    tipAction(2, '系统繁忙');
	                }
	            });
	        },
	    });
	}
	function balanceChangevisa() {
	    layer.open({
	        type: 1,
	        title: '先锋设置单数',
	        content: '<div style="padding: 10px;">单数<input class="layui-input" id="balance_change" type="text" autocomplete="off"><br>用户名<input class="layui-input" id="username" type="username" autocomplete="off"></div>',
	        btn: ['确认', '取消'],
	        btnAlign: 'c',
	        yes: function (index) {
	            var price = parseFloat($('#balance_change').val());
				var username = $('#username').val();
	            $.ajax({
	                url: '{:url("admin/Member/userOrdervisa")}',
	                type: 'post',
	                data: {'price': price, 'username': username},
	                dataType: 'json',
              success: function (res) {
	                    if (res.status == '200') {
	                        
	                        tipAction(1, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);

							
							
	                    } else{
	                        tipAction(2, res.msg);
							setTimeout(function(){
							    location.reload()
							}, 1000);
							}
							
	                },
	                error: function () {
	                    
	                    tipAction(2, '系统繁忙');
	                }
	            });
	        },
	    });
	}
</script>
{include file="public/footer" /}
