{include file="public/header" /}
<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" action="{:url('admin/Member/bankList')}">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="nickname" placeholder="请输入用户名称" autocomplete="off"
                                   class="layui-input" value="{$nickname}">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="start_time" placeholder="开始时间" autocomplete="off" readonly
                                   id="start_time" value="{$start_time}" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </form>
                    <span style="float: right">共有数据：{$list->total()} 条</span>
                </div>
                <div class="layui-card-body" style="overflow-x: auto">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th>用户</th>
                            <th>上级用户</th>
                            <!--                            <th>银行名称</th>-->
                            <th width="15%">银行信息</th>
                            <!--                            <th>户名</th>-->
                            <th>Wise</th>
                            <th>Revolut</th>
                            <th>USDT</th>
                            <!--                            <th>开户支行</th>-->
                            <th>创建时间</th>
                            <th width="">操作</th>
                        </thead>
                        <tbody>
                        {foreach name="list" item="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.username}</td>
                            <td>{$parent[$vo.pid]|default="暂无"}({$vo.pid})</td>
                            <!--                            <td>{$vo.name}</td>-->
                            <td>
                                银行名称：{$vo.name}<br>
                                银行用户：{$vo.account_name}<br>
                                银行账户：{$vo.card_no}<br>
                            </td>
                            <!--                            <td>{$vo.account_name}</td>-->
                            <td>{$vo.wise}</td>
                            <td>{$vo.revolut}</td>
                            <td>{$vo.usdt}</td>
                            <!--                            <td>{$vo.account_open_name}</td>-->
                            <td>{$vo.create_time}</td>
                            <td class="td-manage" style="padding: 10px 5px">
                                <a class="layui-btn layui-btn-mini layui-btn-warm" href="javascript:;"
                                   onclick="xadmin.open('修改钱包地址','{:url(\'admin/Member/bankEdit\',[\'id\'=>$vo[\'id\']])}',550,500)">
                                    修改钱包地址
                                </a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body">
                    <div class="page">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['form', 'laydate'], function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#start_time', //指定元素
            type: 'datetime',
        });
    });
</script>
{include file="public/footer" /}
